* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  padding: 48px;
  height: 100%;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
}

.content {
  background-color: aliceblue;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  /* height: 400px; Should be removed. Only for demonstration */
}

.column-image {
  /* background-image: url('/src/images/billions.jpg'); */
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  /* width: 170%; */
  margin-left: 5vw;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

button {
  height: 50px;
  width: 70px;
  margin: 20px auto;
}
