* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  padding: 48px;
  height: 100%;
  min-height: 100vh;
}

.hide {
  display: none;
}

/* popup window */
#popup {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  background-color: white;
  overflow: auto;
}

.modal {
  max-width: 730px;
  min-height: min-content;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#close-btn {
  font-size: 24px;
  text-align: left;
  cursor: pointer;
  margin-left: auto;
  width: min-content;
  margin: 16px 0 0 auto;
  flex: 0;
}

.modal img {
  max-width: 80%;
  min-height: 200px;
  max-height: 400px;
}

.date {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.date li {
  list-style: none;
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

.summary {
  padding-top: 2%;
}

footer {
  position: absolute;
  bottom: 0;
}

.content {
  background-color: aliceblue;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
}

.column-image {
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  margin-left: 5vw;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

button {
  height: 50px;
  width: 70px;
  margin: 20px auto;
}

/* popup comments */
.comments-block {
  margin-top: 24px;
}

.comments-block h3 {
  text-align: center;
  margin-bottom: 16px;
}

.comments li {
  list-style: none;
  margin-bottom: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

input,
textarea {
  width: 100%;
  border: 2px solid black;
  padding: 8px;
}

input::placeholder,
textarea::placeholder {
  font-size: .8rem;
  word-spacing: 0.4rem;
} 

#submit-comment {
  margin: 0 auto  16px 0;
}